<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
<!--    <permission android:name="android.permission.QUERY_ALL_PACKAGES" />-->

    <queries>
        <package android:name="com.suihan74.satena2"/>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.media.browse.MediaBrowserService" />
        </intent>
    </queries>

    <application
            android:name=".Application"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Satena2"
            android:usesCleartextTraffic="true"
            android:enableOnBackInvokedCallback="true"
            tools:targetApi="34">
        <!--
            通知用WorkerでHiltを使用するために必要な設定
            https://developer.android.com/topic/libraries/architecture/workmanager/advanced/custom-configuration
        -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
        </provider>

        <activity
                android:name=".scene.splash.SplashActivity"
                android:exported="true"
                android:launchMode="singleTop"
                android:noHistory="true"
                android:theme="@style/Theme.Satena2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".scene.entries.EntriesActivity"
                android:exported="true"
                android:theme="@style/Theme.Satena2">
        </activity>

        <activity
                android:name=".scene.bookmarks.BookmarksActivity"
                android:exported="true"
                android:theme="@style/Theme.Satena2">
        </activity>

        <activity
                android:name=".scene.post.BookmarkPostActivity"
                android:exported="true"
                android:windowSoftInputMode="adjustResize"
                android:theme="@style/Theme.AppDialogTheme">
            <intent-filter android:label="ブコメを書く">
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".scene.browser.BrowserActivity"
                android:exported="true"
                android:launchMode="singleTask"
                android:theme="@style/Theme.Satena2">
        </activity>

        <activity
                android:name=".scene.preferences.PreferencesActivity"
                android:exported="true"
                android:launchMode="singleTask"
                android:theme="@style/Theme.Satena2">
        </activity>

        <activity
                android:name=".scene.preferences.page.accounts.hatena.HatenaAuthenticationActivity"
                android:exported="true"
                android:launchMode="singleTask">
        </activity>

        <activity
                android:name=".scene.preferences.page.accounts.mastodon.MastodonAuthenticationActivity"
                android:exported="true"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="satena-mastodon"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".scene.preferences.page.accounts.misskey.MisskeyAuthenticationActivity"
                android:exported="true"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="satena-misskey"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
